[Unit]
Description=Amarok
After=xorg.target pulseaudio.service kwalletd.service

[Service]
BusName=org.kde.amarok
ExecStart=/usr/bin/amarok --nofork
ExecStop=-/usr/bin/kquitapp amarok

[Install]
WantedBy=default.target
