[Unit]
Description=kdeinit4
After=xorg.target

[Service]
BusName=org.kde.klauncher
ExecStart=/usr/bin/kdeinit4 --no-fork
ExecStop=-/usr/bin/qdbus org.kde.klauncher / terminate_kdeinit

[Install]
WantedBy=default.target
