[Unit]
Description=KMix
After=kwin.service pulseaudio.service

[Service]
BusName=org.kde.kmix
ExecStart=/usr/bin/kmix --nofork
ExecStop=-/usr/bin/kquitapp kmix

[Install]
WantedBy=default.target
