[Unit]
Description=Konsole
After=xorg.target gpg-agent.service

[Service]
Type=forking
EnvironmentFile=%h/.gpg-agent-info
ExecStart=/usr/bin/konsole
ExecStop=-/usr/bin/kquitapp konsole

[Install]
WantedBy=default.target
