[Unit]
Description=krunner
After=kwin.service

[Service]
BusName=org.kde.krunner
ExecStart=/usr/bin/krunner --nofork
ExecStop=-/usr/bin/kquitapp krunner

[Install]
WantedBy=default.target
