[Unit]
Description=KTorrent
After=xorg.target

[Service]
BusName=org.ktorrent.ktorrent
ExecStart=/usr/bin/ktorrent --nofork
ExecStop=-/usr/bin/kquitapp --service org.ktorrent.ktorrent ktorrent

[Install]
WantedBy=default.target
