[Unit]
Description=kwin
After=kdeinit4.service

[Service]
BusName=org.kde.kwin
ExecStart=/usr/bin/kwin
ExecStop=-/usr/bin/kquitapp kwin

[Install]
WantedBy=default.target
