[Unit]
Description=kwin
After=xorg.target
Requires=dbus.socket

[Service]
ExecStart=/usr/bin/kwin
ExecStop=/usr/bin/kquitapp kwin

[Install]
WantedBy=default.target
