[Unit]
Description=plasma
Wants=akonadi.service
After=kwin.service akonadi.service

[Service]
BusName=org.kde.plasma-desktop
ExecStart=/usr/bin/plasma-desktop --nofork
ExecStop=-/usr/bin/kquitapp plasma-desktop

[Install]
WantedBy=default.target
