[Unit]
Description=plasma
Wants=xorg.target
Requires=dbus.socket

[Service]
Type=forking
ExecStart=/usr/bin/plasma-desktop
ExecStop=/usr/bin/kquitapp plasma-desktop

[Install]
WantedBy=default.target
