[Unit]
Description=PulseAudio

[Service]
BusName=org.pulseaudio.Server
ExecStart=/usr/bin/pulseaudio
ExecStop=/usr/bin/pulseaudio -k

[Install]
WantedBy=default.target
