[Unit]
Description=PulseAudio
Requires=dbus.socket

[Service]
ExecStart=/usr/bin/pulseaudio
ExecStop=/usr/bin/pulseaudio -k

[Install]
WantedBy=default.target
