[Unit]
Description=Apply .Xmodmap
After=xorg.target
; ConditionPathExists=%h/.Xmodmap # currently unsupported

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/xmodmap %h/.Xmodmap
ExecStop=/usr/bin/setxkbmap

[Install]
WantedBy=default.target
